$primaryColor: rgb(0, 20, 39);
$secondaryColor: rgb(112, 141, 129);
$thirdColor: rgb(244, 213, 141);
$fourthColor: rgb(191, 6, 3);
$fifthColor: rgb(141, 8, 1);

@mixin flexSpaceBetween($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
}

#logo {
  width: 158px;
  height: 100px;
}

.navigation {
  height: 10vh;
  @include flexSpaceBetween(row);
  background-color: white;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 3vh 5vw;
  align-items: center;
  @media (max-width: 768px) {
    position: sticky;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}

.link {
  text-decoration: none;
  color: $secondaryColor; //111
  display: inline-block;
  white-space: nowrap;
  margin: 0 1vw;
  transition: all 200ms ease-in;
  position: relative;
  font-weight: 600;
  font-size: 1.5rem;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    content: ".";
    color: transparent;
    background: rgb(220, 20, 60);
    height: 1px;
    transition: all 0.4s ease-in;
  }
  &:hover {
    color: rgb(220, 20, 60);
    &::after {
      width: 100%;
    }
  }
}
